body {
    margin: 0 auto;
    padding: 10%;
    display: flex;
    background-color: green;
    opacity: 0.6;

}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}